body{
  text-align: center;
  display: block;
  background: #fff;
  font-family: 'Comfortaa', sans-serif;
  font-weight: 100;
}

.line{
	fill: none;
	stroke: steelblue;
	stroke-width: 2px;
}

.links line {
  stroke: #fff;
}

.nodes circle {
  pointer-events: all;
  stroke: none;
  stroke-width: 40px;
}

div.tooltip {   
  position: absolute;           
  text-align: center;           
  width: 60px;                  
  height: 20px;                 
  padding: 2px;             
  font: 12px sans-serif;        
  background: #8585ad;   
  border: 0px;      
  border-radius: 8px;           
  pointer-events: none;         
}